@import "../../../shared/variables";

:host {
  display: block;

  .board {
    display: flex;
    flex-direction: row;
    min-height: 100px;
  }

  kanban-column {
    border-right: 1px solid $grey-color;
  }

  kanban-column:last-child {
    border-right-color: transparent;
  }


  .layout-item {
    will-change: transform;
    position: absolute;
    margin: 5px;
    width: $post-it-width;
  }

  .kanban:hover, .selected {
    box-shadow: $shadow-default;
  }

  .kanban:hover {
    z-index: $z-index-hovered;
  }

  .masonry-layout-item-dragging {
    cursor: move;
  }

  .masonry-layout-item-dragging, .masonry-layout-item-releasing {
    z-index: $z-index-selected;
  }

  .uninitialized {
    border-width: 1.5px;
    border-style: dashed;
  }

  .loading-text {
    position: relative;
    top: 50px;

    font-size: 36px;

    pointer-events: none;
  }

}
