<div class="mx-5" #layout>
  <div class="form-inline">
    <add-document
      class="form-control mr-2 p-0"
      [hasCollection]="hasSingleCollection()"
      [hasRights]="hasCreateRights()"
      (createKanban)="createKanban($event)">
    </add-document>
    <button class="btn form-control mr-2 p-0">
      <i class="fa fa-cog"></i>
    </button>
    <div class="form-control dropdown mr-2 p-0" title="Perspective" i18n-title="@@view.perspective">
      <div class="dropdown-toggle py-1 px-2 align-items-center"
           id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="ml-1 text-nowrap" i18n="@@view.perspective.name">{{selectedAttribute && selectedAttribute.name}}</span>

      </div>
      <div class="dropdown-menu">
        <h6 class="dropdown-header">Select...</h6>
        <button *ngFor="let attribute of getAttributes()"
                class="dropdown-item"
                type="button"
                (click)="selectAttribute(attribute)"
        >
          {{ attribute.name }}
        </button>
      </div>
    </div>
  </div>
  <div class="board">
    <kanban-column
        *ngFor="let kanbanColumn of kanbanColumns; let idx = index;"
        [kanbanColumn]=kanbanColumn
    ></kanban-column>

    <kanban-document *ngFor="let kanban of kanbans; let idx = index; trackBy:trackByDocument"
                     class="layout-item card kanban {{ !kanban.initialized ? 'uninitialized' : 'initialized' }}"
                     [attr.order]="kanban.order"
                     [collection]="getCollection(kanban)"
                     [collectionRoles]="getCollectionRoles(kanban)"
                     [kanbanModel]="kanbanWithIndex(kanban, idx)"
                     [perspectiveId]="perspectiveId"
                     [layoutManager]="layoutManager"
                     [currentColumnLayoutManager]="getKanbanColumn(kanban)"
                     [selectionHelper]="selectionHelper"
                     [navigationHelper]="navigationHelper"
                     (favoriteChange)="onFavoriteChange(kanban.document, $event)"
                     (remove)="removeKanban(kanban)"
                     (changes)="kanbanChanged(kanban, $event)"
                     (moveKanban)="moveKanban($event)"
    ></kanban-document>


  </div>
  <label *ngIf="(!hasSingleCollection() || !hasCreateRights()) && !kanbans.length"
         class="label-centered"
         i18n="@@document.list.empty">Nothing To Show</label>
</div>

<div class="fading loading-text text-center py-5"
     [style.opacity]="infiniteScroll.isLoading() ? 1 : 0"
     i18n="@@documents.post.it.loading">
  Loading...
</div>
