@import "../../../shared/variables";

:host {
  display: block;

  .board {
    display: flex;
    flex-direction: row;
    min-height: 100px;
  }

  .kanban-document-layout {
    transition: height $animation-duration;
    position: relative;
    margin: 0 auto;
    min-width: 20px;
    border: 1px solid black;
    width: 33%;
    min-height: 250px;


  }

  .layout-item {
    will-change: transform;
    position: absolute;
    margin: 5px;
    width: $post-it-width;
  }

  .kanban:hover, .selected {
    box-shadow: $shadow-default;
  }

  .kanban:hover {
    z-index: $z-index-hovered;
  }

  .masonry-layout-item-dragging {
    cursor: move;
  }

  .masonry-layout-item-dragging, .masonry-layout-item-releasing {
    z-index: $z-index-selected;
  }

  .uninitialized {
    border-width: 1.5px;
    border-style: dashed;
  }

  .loading-text {
    position: relative;
    top: 50px;

    font-size: 36px;

    pointer-events: none;
  }

}
