@import "../../../../shared/variables";

:host {
  width: 100%;

  h5 {
    text-align: center;
  }

  .kanban-document-layout {
    transition: height $animation-duration;
    position: relative;
    margin: 0 auto;
    min-width: 20px;
    min-height: 100%;
  }
}
